$font-family1:'Source Sans Pro',
sans-serif;
$font-family2: 'Fresca',
sans-serif;
$font-family3:'Hind',
sans-serif;
$body-width:100%;
$body-bgcolor:grey;
$color-for-half-words:rgb(218, 146, 38);
$button-color:rgb(236, 240, 23);
$header-background-image:url('../img/m-h-night.jpg');
$color-gradient:linear-gradient(to right,
#cde52e,
#e5b900,
#ee8b0d,
#e95b2e,
#d62846);
$border-botom-rigth-radius:333px;
$position-for-two-card-underline:( "position": relative,
"display": inline-block,
"bottom": 22px,
"z-index": -1,
"width": 60%,
"height": 11px,
"background-color": $color-for-half-words,
);